<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>protótipo</title>
	</head>
	<body>
		<div>
			<h3>Menu</h3>
			<a href="/pesquisa.html">pesquisar</a>
			<a href="/inclusao.html">incluir</a>
		</div>
		<div>
			<h1>SISTEMA DE CADASTRO DE PACIENTES</h1>
		</div>
	</body>
</html>